@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(27, 27, 31);
    font-family:monospace;
}

.dashboard-container {
     position:absolute;
     width: 100%;
     height: fit-content;
     display: flex;
     flex-direction: column;
     padding: 15px;
     left: 0;
     top: 0;
     box-sizing: border-box;
}

.lc{
     position:absolute;
     width: 100%;
     height: fit-content;
     display: flex;
     padding: 15px;
     left: 0;
     top: 0;
     box-sizing: border-box;
}

.footer {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6.25%;
    background-color: rgb(22, 22, 24);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    align-content: center;
    display: flex;
    box-shadow: 0px -1px 10px rgba(0,0,0,0.5);
}

#bottom-button{
    width: 28px; height: 28px; color: rgba(255, 255, 255,0.75); margin: auto;
}

#bottom-button:hover{
    color: white;
    width: 32px;
    height: 32px;
    transition:0.1s;
    offset: 0px 2px;
}

#icon-holder {
    width: 64px;
    height: 64px;
    aspect-ratio: 1;
    margin: 15px 0px 15px 15px;
    background-color: #1B1B1F;
    border-radius: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
    display:flex;
}

.small-text {
    color: pink;
}

.big-text {
    color:rgba(255,255,255,0.75); font-weight: bold; font-size: min(3.2vw,64px);
}

.rpm-text {
    color:rgba(255,255,255,0.75); font-weight: bold; font-size: 16px;
}

.icon {
    width: 3em;height: 3em;color: pink;margin: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    box-sizing: border-box;
    flexwrap: wrap;
}

.grid-rpm {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    box-sizing: border-box;
}

p{margin: 0;}

#card-text {
    margin: 15px;
    text-align: left; 
    width:max-content;
    align-items: flex-start;
    justify-content: center;
    right: 0;
    top: 0;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
}

.bin-state{
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    background-color: #202127;
    margin-bottom: 15px;
    border-radius: 15px;
    align-items: center;
}

.rpm{
    margin-top: 5px;
    height: 5vh;
    box-sizing: border-box;
    background-color: #202127;
    margin-bottom: 15px;
    border-radius: 15px;
    align-items: center;
}

.big-card {
    background-color: #202127;
    height: 25vh;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: hidden;
    align-content: space-between;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
}

.battery {
    height: 45%;
    width: 100%;
    background: pink;
    bottom: 0;
}

.bin-bar {
    height: 25%;
    width: 100%;
    background: pink;
    bottom: 0;
}

.H {
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center ;
    justify-content: space-between;
    justify-items: flex-start;
}

.titleH {
    color: white;
    font-weight: bolder;
    font-size:12vw;
}

.gridSquares {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.sqButton {
    aspect-ratio: 1;
    width: 25vw;
    background-color:#202127;
    border-radius: 10px;
    padding: 7px;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
}

.sqIco {
    width: 48px; height: 48px; color: rgba(255, 255, 255,0.75);
}

.joystick {
    margin-top: 32px;
    margin-bottom: 32px;
    aspect-ratio: 1;
    width: 100%;
    border-radius: 50%;
    background-color: #202127;
    display: flex;
}

.center-stick {
    margin:auto;
    aspect-ratio: 1;
    width: 50%;
    border-radius: 50%;
    background-color: #1B1B1F;
}

.rpm-p {
    height: 5vh;
    width: 40vw;
    box-sizing: border-box;
}

.s-button {
    margin-bottom: 15px;
    height: 2vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.s-icon {
    margin-right: 10px;
    color: rgba(255, 255, 255,0.75);
}

.s-text {
    font-size: 18px;
    color: rgba(255, 255, 255,0.75);
}

.br {width: 100%; height: 1px; background-color: #202127; margin-bottom: 15px;}

.login-container {
    width: 100%;
    height: 50vh;
    background-color: #202127;
    border-radius: 12px;
    align-self: center;

}
